header {
    min-height: 500px;
    min-width: 800px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
        header h1{
        font-size:3em;
        padding-bottom: 10px;
        text-shadow:2px 2px 4px rgba(0,0,0,0.5);}
        header p {
        max-width: 500px;
        margin: auto;
        font-size:1.2em;
        padding:0 10px;
        text-shadow:1px 1px 3px rgba(0,0,0,0.4);}
    nav {
        margin-top: 20px;
        padding: 10px;
        }
    nav ul {
        list-style: none;
        padding: 0;}
    nav ul li a {
        display: inline-block;
        margin: 0 15px;}
    nav ul li a {
        color:white;
        text-decoration:none;
        font-weight:bold;
        padding: 10px;
        border-radius: 5px;
        transition: 0.55;}
    nav ul li a :hover{
        background-color: #666;
        color: #fff;
    }
.Btn-imagem6{
    display: inline-block;
    width: 230px;
    height: 450px;
    padding: 0.3em;
    background-image: url('RedDead.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}
.Btn-imagem1:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
iframe{
    width: 100%;
    max-width: 800px;
    border: 2px solid #005f09;
    border-radius: 10px;
    display: block;
    margin: 20px auto;

 }
.Galeria {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:center;}
    .Card {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    }
.Card img {
        width:100%;
        height: auto;
        border-radius:8px;}
    .Card p{
        margin-top: 10px;
        font-size: 14px;
        color:#333;
    }
    .card:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }